@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    <br />
    <p><strong>Localização</strong>: Rua José Luciano Siqueira, 335 - Suissa</p>
    <p><strong>Telefones</strong>: +55 79 3211 5232 / +55 79 3041 8914  </p>
    <p><strong>WhatsApp</strong>: <img src="~/Content/images/WhatsApp_20x20.jpg" %> +55 79 99870 5232 (WhatsApp) </p>
    <p>
        <strong>Email</strong>: <a href="mailto:pontofinobordados@gmail.com">pontofinobordados@gmail.com</a><br />
        <strong>Website</strong>: <a href="http://www.pontofinobordados.com.br">http://www.pontofinobordados.com.br</a>
    </p>
    <hr />
</address>
